{% extends 'CommunityBundle:Home:layout.html.twig' %}
{% block content %}
    <article>
        <header></header>
        <div class="bbParses"></div>
        <div>{{ "
        [wrap=50][youtube=UIrqWunjuEc][/wrap]
        [wrap=30][img=https://i.ytimg.com/vi/Ah2TYxPJDE4/hqdefault.jpg?custom=true&w=120&h=90&jpg444=true&jpgq=90&sp=68&sigh=5jBHCM-wYT5bqKHELQFctpqnBmw][/wrap]
        [wrap=20][youtube=UIrqWunjuEc][/wrap]
        [h2]sdfsdf[/h2][h2]Trius[/h2]"|bbtohtml }}</div>
        {#<div id="wysiwyg" contenteditable="true">[p]test[/p]</div>#}
        <footer></footer>
    </article>
{% endblock %}