{% extends 'CommunityBundle:Home:layout.html.twig' %}
{% block content %}
    <article>
        <header></header>
        <div class="bbParses"></div>
        <div>{{ "[wrap=100][youtube=UIrqWunjuEc][/wrap][h2]sdfsdf[/h2][h2]Trius[/h2]"|bbtohtml }}</div>
        {#<div id="wysiwyg" contenteditable="true">[p]test[/p]</div>#}
        <footer></footer>
    </article>
{% endblock %}